@charset "utf-8";
@import 'style.css';

/* product_desc header */
.product-info__navigator {
  margin: 0 0 15px 0;
  font-size: 15px;
  font-weight: 500;
}
.product-info__navigator > span:not(:last-child) {
  display: inline-block;
  width: 12px;
  height: 16px;
  margin: 0 4px;
  background-image: url(../img/arr-right-b.svg);
  background-size: 6px auto;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -99999px;
}
.product-info__navigator > span:last-child {
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
}
.gnb {
  right: 0;
}
/* product_desc 본문1  */

.product-info {
  position: relative;
}
.product-info__box {
  margin: 0 15px 50px 15px;
}
.product-info__title {
  position: relative;
  margin: 30px 0 15px 0;
}
.pruduct-info__name {
  margin: 0 0 10px 0;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../img/dyson-V11-Complete-n.png);
  background-size: auto 100%;
  text-indent: -99999px;
}
.product-info__star {
  display: flex;
}
.product-info__star ul {
  display: flex;
  width: 84px;
}
.product-info__star li {
  width: 13px;
  height: 15px;
  margin: 0 3px 0 0;
  text-indent: -99999px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../img/star-ic-gr.png);
}
.product-info__star .star--color-yellow {
  background-image: url(../img/star-ic.png);
}
.product-info__rev {
  color: #777;
  font-size: 13px;
}
.product-info__share a {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-10px, 0);
  display: block;
  width: 35px;
  height: 35px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/share-ic.png);
  transition: 400ms;
  text-indent: -99999px;
}
.product-info__share a:hover {
  background-image: url(../img/share-ic-g.png);
}
.product-info__main-img {
  margin: 0 0 20px 0;
  border-radius: 4px;
  background: linear-gradient(to bottom, #efefef 0.5%, #ffff);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
}
.product-info__numbering {
  margin: 0 auto 30px auto;
  text-align: center;
}
.roduct-info__numbering span {
  display: inline-block;
}
.numbering-first {
  padding: 0 0 0 9px;
  font-weight: 700;
  font-size: 15px;
  background-image: url(../img/arr-left-b.svg);
  background-size: 6px auto;
  background-repeat: no-repeat;
  background-position: left center;
}
.numbering-slice {
  font-size: 12px;
}
.numbering-last {
  font-size: 15px;
  padding: 0 9px 0 0;
  background-image: url(../img/arr-right-b.svg);
  background-size: 6px auto;
  background-repeat: no-repeat;
  background-position: right center;
}
.product-info__sub-img,
.product-info__pop-up,
.product-info__pc-buy,
.product-info__pc-buy {
  display: none;
}
.product-info__buy-box {
  margin: 0 0 70px 0;
  padding: 30px 25px;
  border-radius: 4px;
}
.product-info__buy-box--bk-gray {
  background-color: rgba(239, 239, 239, 0.5);
}
.product-info__mo-count,
.product-info__mo-all,
.product-info__mo-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-info__mo-countBox,
.pruduct-info__icons {
  display: flex;
}
.product-info__mo-count p:first-child,
.product-info__mo-all p:first-child {
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
}
.product-info__mo-count {
  margin-bottom: 24px;
}
.product-info__mo-countBox p {
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ccc;
  background-position: center;
  background-size: 10px auto;
  background-repeat: no-repeat;
}
.product-info__mo-countBox p:not(:last-child) {
  border-right: none;
}
.product-info__mo-minus {
  background-image: url(../img/minus.svg);
  text-indent: -99999px;
  cursor: pointer;
}
.product-info__mo-plus {
  background-image: url(../img/plus.svg);
  text-indent: -99999px;
  cursor: pointer;
}
.product-info__mo-all {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ccc;
}
.product-info__mo-allPrice,
.product-info__mo-allPrice span {
  font-weight: 500;
  font-size: 24px;
  line-height: 1em;
}
.pruduct-info__icons p {
  width: 30px;
  height: 30px;
  background-size: 100% auto;
  text-indent: -99999px;
  transition: 200ms linear;
}
.product-info__mo-like {
  margin-right: 12px;
  background-image: url(../img/like-ic.png);
}
.product-info__mo-cart {
  background-image: url(../img/cart-ic2-b.png);
}
.product-info__mo-like:hover {
  background-image: url(../img/like-ic-g.png);
}
.product-info__mo-cart:hover {
  background-image: url(../img/cart-ic2-g.png);
}
.product-info__mo-buyBtn {
  padding: 12px 0;
  width: calc(100% - 110px);
  max-width: 260px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: var(--main-color-green);
}
.product-info__benefit {
  padding: 50px 0 30px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.product-info__benefitTitle {
  margin: 0 0 30px 0;
  font-size: 24px;
  line-height: 1em;
  font-weight: 500;
}
.product-info__benefit li {
  margin: 10px 0;
  padding: 0 0 0 50px;
  line-height: 40px;
  font-size: 16px;
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: left center;
}
.benefit-delivery {
  background-image: url(../img/free-del-ic.png);
}
.benefit-as {
  background-image: url(../img/fix-ic.png);
}
.benefit-battery {
  background-image: url(../img/garentee-ic.png);
}
.benefit-credit {
  background-image: url(../img/pay-ic.png);
}

/* 본문2 .other-product */
.other-product {
  position: relative;
  margin: 0 15px 50px 15px;
  padding: 0 0 50px 0;
}
.other-product__title {
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 1em;
  font-weight: 500;
}
.other-product__list {
  display: flex;
  overflow: none;
}
.other-product__list li {
  margin: 0 15px 0 0;
}
.other-product__list a {
  display: block;
  color: #222;
  border: 1px solid #efefef;
}
.other-product__list figure {
  width: 200px;
  height: 250px;
  padding: 0 20px;
  background: linear-gradient(to top, #efefef 0.5%, #ffff);
  text-align: center;
}
.other-product__list figure img {
  width: auto;
  height: 100%;
}
.other-product__desc {
  padding: 18px 15px 15px 15px;
}
.other-product > .community__btn {
  left: 35px;
  bottom: 0;
}
/* 본문3 product-desc */
.product-desc__btnList {
  margin: 0 15px;
}
.product-desc__btnList button {
  position: relative;
  margin: 0 12px 0 0;
  padding: 10px 2px;
  font-size: 13px;
  color: #ccc;
  font-weight: 500;
}
button.product-desc__btnList--active {
  color: #222;
}
button.product-desc__btnList--active::after,
.product-desc__btnList button::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--main-color-green);
  transition: 300ms;
}
.product-desc__btnList button:hover {
  color: #222;
}
.product-desc__btnList button:hover::after {
  width: 100%;
}
button.product-desc__btnList--active::after {
  width: 100%;
}

/* 본문3__제품상세 .product-desc */
.desc-card {
  margin: 0 0 50px 0;
}

/* 본문4 porduct-notice */
.porduct-notice h2 {
  margin: 0 0 15px 15px;
  font-size: 24px;
  font-weight: 500px;
}
.product-notice__list {
  margin: 0 15px 50px;
}
.product-notice__list {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.product-notice__list > li {
  padding: 0 10px 25px 10px;
}
.product-notice__list > li > p {
  padding: 25px 0 0 0;
  font-size: 18px;
  cursor: pointer;
  line-height: 1.3em;
}
.product-notice__list > li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.product-notice__list li > div {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 1px dashed #efefef;
}
.product-notice__sub {
  margin: 10px 10px 10px 0;
}
.product-notice__sub li {
  padding: 5px 0 5px 25px;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1.5em;
  text-indent: -17px;
}
.product-notice__descMore {
  margin: 10px 15px 0 15px;
  font-size: 12px;
  line-height: 1.4em;
  font-weight: 300;
  color: #777;
}
.product-notice__sub a {
  text-decoration: underline;
  color: #222;
  font-weight: 500;
}
.notice__mail {
  font-weight: 500;
  text-decoration: underline;
}
.product-notice__list li > div {
  display: none;
}

/* 제품상세 media query */

/* 테블릿 width: 768px */
@media (min-width: 768px) {
  /* 테블릿 product-info */
  .product-info__box {
    margin: 0 35px 70px 35px;
  }
  .pruduct-info__name {
    margin: 0 0 15px 0;
    height: 40px;
  }
  .product-info__star li {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
  }
  .product-info__share a {
    width: 40px;
    height: 40px;
    top: 60%;
  }
  .product-info__numbering {
    margin: 0 auto 40px auto;
  }
  .numbering-first {
    padding: 0 0 0 11px;
    font-weight: 700;
    font-size: 17px;
  }
  .numbering-slice {
    font-size: 14px;
  }
  .numbering-last {
    font-size: 17px;
    padding: 0 11px 0 0;
  }
  .product-info__buy-box {
    padding: 40px 35px;
  }
  .product-info__mo-count p:first-child,
  .product-info__mo-all p:first-child {
    font-size: 24px;
  }
  .product-info__mo-count {
    margin-bottom: 30px;
  }
  .product-info__mo-countBox p {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-size: 13px auto;
    font-size: 18px;
    font-weight: 500;
  }
  .product-info__mo-all {
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
  }
  .product-info__mo-allPrice,
  .product-info__mo-allPrice span {
    font-size: 34px;
    line-height: 1em;
  }
  .pruduct-info__icons p {
    width: 35px;
    height: 35px;
  }
  .product-info__mo-like {
    margin-right: 18px;
  }
  .product-info__mo-buyBtn {
    padding: 18px 0;
    font-size: 24px;
  }
  .product-info__benefit {
    padding: 70px 0 50px 0;
  }
  .product-info__benefitTitle {
    font-size: 30px;
  }
  .product-info__benefit li {
    margin: 15px 0;
    padding: 0 0 0 60px;
    line-height: 60px;
    font-size: 18px;
    background-size: 50px auto;
  }

  /* 테블릿 본문2 .other-product */
  .other-product {
    margin: 0 35px 70px 35px;
  }
  .other-product__title {
    margin: 0 0 30px 0;
    font-size: 30px;
  }
  .other-product__list figure {
    width: 230px;
    height: 280px;
    padding: 0 25px;
  }
  .other-product__desc {
    padding: 20px 18px 18px 18px;
    font-size: 15px;
    line-height: 1.3em;
  }
  /* 테블릿 본문3 product-desc */
  .product-desc__btnList {
    margin: 0 35px;
  }
  .product-desc__btnList button {
    margin: 0 30px 0 0;
    padding: 12px 4px;
    font-size: 20px;
  }
  .product-desc__reviews span {
    font-size: 20px;
    font-weight: 500;
  }
  /* 테블릿 본문3__제품상세 .product-desc */
  .desc-card {
    margin: 0 0 70px 0;
  }
  /* 테블릿 본문4 porduct-notice */
  .porduct-notice h2 {
    margin: 0 0 25px 35px;
    font-size: 30px;
    line-height: 1em;
  }
  .product-notice__list {
    margin: 0 30px 70px;
  }
  .product-notice__list > li {
    padding: 0 15px 30px 15px;
  }
  .product-notice__list > li > p {
    padding: 30px 0 0 0;
    font-size: 20px;
  }
  .product-notice__list li > div {
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
  }
  .product-notice__sub {
    margin: 10px 10px 10px 0;
  }
  .product-notice__sub li {
    padding: 5px 0 5px 25px;
    list-style-type: disc;
    list-style-position: inside;
    line-height: 1.5em;
    text-indent: -22px;
    font-size: 16px;
  }
  .product-notice__descMore {
    font-size: 14px;
  }
}
/* 테블릿 width: 768px 마지막*/

/* pc width: 1200px */
@media (min-width: 1200px) {
  /* pc product-info */

  .product-info {
    max-width: 1440px;
    margin: 0 auto 80px auto;
    overflow: hidden;
  }
  .product-info__box {
    width: 580px;
    margin-left: 80px;
    margin-right: calc(100% - 660px);
    padding-top: 150px;
    padding-bottom: 225px;
  }
  .product-info__title {
    position: absolute;
    width: 550px;
    height: 165px;
    top: 80px;
    right: 50%;
    transform: translateX(640px);
    background-color: #fff;
  }
  .pruduct-info__name {
    height: 50px;
  }
  .product-info__share a {
    width: 50px;
    height: 50px;
    top: 55%;
  }
  .product-info__main-img {
    margin-bottom: 70px;
    background: linear-gradient(to bottom, #efefef 1%, #ffff);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  }
  .product-info__numbering {
    display: none;
  }
  .product-info__sub-img {
    position: relative;
    display: block;
    margin: 0 0 70px 0;
  }
  .product-info__sub-img ul {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
  }
  .product-info__sub-img li {
    width: 85px;
    min-width: 85px;
    height: 85px;
    margin: 0 10px 0 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
  }
  .product-info__sub-img .product-info__sub-popupLink {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../img/see-more-ic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
    cursor: pointer;
  }
  .product-info__sub-img li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-info__sub-img .product-info__sub-btns {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 102%;
    display: flex;
    justify-content: space-between;
  }
  .product-info__sub-btns p {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    text-indent: -99999px;
    background-size: 7px auto;
    background-position: left 11px center;
    background-repeat: no-repeat;
    background-image: url(../img/arr-right-b.svg);
    cursor: pointer;
  }
  .product-info__sub-btns .product-info__sub-prevBtn {
    transform: rotate(-180deg);
  }
  .product-info__sub-prevBtn.product-info__sub-btns--opacity0,
  .product-info__sub-nexttn.product-info__sub-btns--opacity0 {
    visibility: 0;
    opacity: 0;
  }
  /* pc .product-info__pop-up */
  .product-info__pop-up {
    display: none;
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.45);
  }
  .product-info__pop-inner {
    position: absolute;
    padding-bottom: 40px;
    top: 0;
    left: 50%;
    width: 1200px;
    transform: translate(-50%, 100px);
  }
  .product-info__pop-inner ul {
    width: 1200px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .pop-up__pager {
    position: absolute;
    width: 120px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .pop-up__pager ul {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
  }
  .pop-up__pager li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
  }
  .pop-up__closeBtn {
    position: absolute;
    top: -80px;
    right: -90px;
    width: 45px;
    height: 45px;
    background-image: url(../img/close-ic.png);
    background-color: var(--main-color-green);
    background-size: 28px auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    cursor: pointer;
    text-indent: -99999px;
  }
  .pop-up__pager li.pop-up__pager--on {
    background-color: var(--main-color-green);
  }
  /*pc  product-info__buy-box */
  .product-info__buy-box {
    position: absolute;
    padding: 0;
    width: 550px;
    top: 280px;
    right: 50%;
    transform: translateX(640px);
  }
  .product-info__pc-buy {
    display: block;
    margin-bottom: 30px;
  }
  .product-info__pc-buy p {
    padding: 5px 0;
    font-size: 13px;
  }
  .product-info__pc-buy .product-info__pc-delivery {
    margin-left: 15px;
    padding-left: 16px;
    color: #dd4157;
    background-image: url(../img/time-icon.png);
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: left center;
  }
  .product-info__pc-buy .product-info__pc-benefit {
    margin-left: 15px;
    margin-bottom: 20px;
    color: #2b129b;
  }
  .product-info__pc-benefit span {
    display: block;
  }
  .product-info__buy-box--bk-gray {
    background-color: transparent;
  }
  .product-info__mo-buy--bk-gray {
    padding: 30px;
    background-color: rgba(239, 239, 239, 0.5);
    border-radius: 4px;
  }
  .product-info__pc-function {
    padding: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
  .product-info__pc-function .product-info__pc-funTitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 1em;
  }
  .product-info__pc-function--bk-gray {
    background-color: rgba(239, 239, 239, 0.5);
  }
  .producnt-info__pc-funcList {
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }
  .producnt-info__pc-funcList p:first-child {
    padding-top: 30px;
  }
  .producnt-info__pc-funcList p {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 300;
  }
  .producnt-info__pc-funcList {
    display: block;
  }
  /* pc .product-info__benefit */
  .product-info__benefit {
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 1440px;
    padding: 70px 35px 50px;
  }
  .product-info__benefit ul {
    display: flex;
  }
  .product-info__benefit li {
    margin: 0 60px 0 0;
    padding: 0 0 0 60px;
    line-height: 40px;
    font-size: 18px;
    background-size: 50px auto;
  }
  .product-info__benefitTitle {
    font-size: 34px;
  }
  /* pc .other-product */
  .other-product {
    max-width: 1440px;
    margin: 0 auto 150px auto;
    padding: 0 35px 70px;
  }
  .other-product__title {
    font-size: 34px;
  }
  .other-product__list {
    overflow: hidden;
  }
  .other-product__list figure {
    width: 250px;
    height: 300px;
    padding: 0 25px;
  }
  .other-product__list li {
    margin: 0 25px 0 0;
  }
  .other-product__desc {
    font-size: 18px;
    line-height: 1.5em;
  }
  .community__btn p {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  /* pc본문3 .product-desc */
  .product-dsec__btnInner {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }
  .product-desc__btnList {
    text-align: center;
    max-width: 980px;
    margin: 0 auto;
  }
  .product-desc__btnList button {
    margin: 0 50px 0;
    padding: 25px 8px;
    font-size: 20px;
  }
  button.product-desc__btnList--active::after,
  .product-desc__btnList button::after {
    bottom: -1px;
  }
  .product-desc__reviews span {
    font-size: 20px;
    font-weight: 500;
  }
  .desc-card {
    max-width: 980px;
    margin: 0 auto;
  }
  .product-desc {
    margin: 0 0 150px 0;
  }

  /* pc.porduct-notice */
  .porduct-notice {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 35px 45px;
  }
  .product-notice__list {
    margin: 0px 30px 150px;
  }
  .porduct-notice h2 {
    max-width: 1440px;
    margin: 0 auto 30px auto;
    padding: 0 0 0 45px;
    font-size: 34px;
    line-height: 1em;
    font-weight: 500;
  }
  .product-notice__list > li > p {
    font-size: 22px;
  }
  .product-notice__sub li {
    font-size: 18px;
  }
  .product-notice__descMore {
    font-size: 15px;
  }
}
/* pc width: 1200px 마지막*/
