@charset "utf-8";
@import 'style.css';

/* 고객지원 */

/* 본문1 .support-banner */
.support-banner {
  margin: 0 0 50px;
  padding: 25px 15px;
  background-color: var(--header-bk-color);
}
.support-banner picture {
  margin: 0 0 20px;
}
.support-banner__title,
.support-banner__subTxt {
  color: #fff;
}
.support-banner__title {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 1em;
  font-weight: 700;
}
.support-banner__subTxt {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -0.3px;
}

/* 본문2 .support-search */
.support-search__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support-search__box h2 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1em;
}
.support-search__input {
  margin: 0 auto;
  padding: 0 30px 0 0;
  width: 80%;
  max-width: 360px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 300px;
  background-size: auto 25px;
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-image: url(../img/search-ic-g.png);
}
.support-search__input input {
  width: 100%;
  padding: 0 20px;
  line-height: 45px;
  font-size: 15px;
}
.support-search__input input::placeholder {
  color: #ccc;
  font-size: 15px;
}
.support-search__input input::selection {
  color: var(--main-color-green);
}
.support-list {
  margin: 0 15px;
}
.support-list ul {
  padding: 80px 0;
}
.support-list li {
  margin: 0 0 20px;
  padding: 0 0 0 60px;
  line-height: 50px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 40px auto;
}

.support-list__li01 {
  background-image: url(../img/garentee-ic.png);
}
.support-list__li02 {
  background-image: url(../img/replace-p-ic.png);
}
.support-list__li03 {
  background-image: url(../img/fix-ic.png);
}
.support-list__li04 {
  background-image: url(../img/support-ic.png);
}

/* 본문3 support-menu */
.support-menu {
  margin: 0 15px 50px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.support-menu__quick {
  display: flex;
  max-width: 530px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}
.support-menu__quick p {
  width: calc(45% - 20px);
  padding: 100px 15px 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-position: center top 10px;
  background-size: 75px auto;
  background-repeat: no-repeat;
  cursor: pointer;
}
.support-menu__quick p:nth-child(1),
.support-menu__quick p:nth-child(2) {
  margin-bottom: 30px;
}
.support-menu__quickRegister,
.support-menu__quickProduct {
  margin: 0 20px 0 0;
}
.support-menu__quickRegister {
  background-image: url(../img/register-ic.png);
}
.support-menu__quickCheck {
  background-image: url(../img/check-order-ic.png);
}
.support-menu__quickProduct {
  background-image: url(../img/apply-ic.png);
}
.support-menu__quickSurvice {
  background-image: url(../img/serv-center-ic.png);
}
.support-menu__mySupport {
  display: none;
}
/* 본문4 support-inquiry */

.support-inquiry h2 {
  margin: 0 15px 20px;
  font-size: 24px;
  line-height: 1em;
  font-weight: 500;
}
.support-inquiry__box li {
  padding: 20px 15px 20px 100px;
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: left 25px center;
}
.support-inquiry__box li:not(:nth-child(2)) {
  background-color: #f8f8f8;
}
.support-inquiry__sub {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 500;
}
.support-inquiry__txt {
  color: #444;
  font-weight: 300;
}
.support-inquiry__inTxt {
  display: block;
  margin: 0 0 5px;
  font-weight: 400;
  font-size: 15px;
}

.support-inquiry__box .support-inquiry__call {
  background-image: url(../img/ask-tel.png);
}
.support-inquiry__box .support-inquiry__kakao {
  background-image: url(../img/kakao-ic.png);
}
.support-inquiry__box .support-inquiry__mail {
  background-image: url(../img/mail-ic.png);
}

/* support-page.html media-quary */

/* 테블릿 768px */
@media (min-width: 768px) {
  /* 테블릿 .support-banner */
  .support-banner {
    margin: 0 0 70px;
    padding: 45px 35px;
  }
  .support-banner__title {
    margin: 0 0 15px;
    font-size: 42px;
  }
  .support-banner__subTxt {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
  }
  /* 테블릿 .support-search */
  .support-search__box h2 {
    margin: 0 0 30px;
    font-size: 30px;
  }
  .support-list {
    margin: 0 35px;
  }
  .support-list ul {
    padding: 100px 0 80px;
  }
  .support-list li {
    padding: 0 0 0 80px;
    line-height: 80px;
    height: 80px;
    font-size: 20px;
    background-size: 60px auto;
  }

  /* 테블릿 본문3 .support-menu */
  .support-menu {
    margin: 0 35px 80px;
  }
  .support-menu__quick p {
    width: calc(45% - 20px);
    padding: 120px 25px 0;
    font-size: 18px;
    background-position: center top 20px;
    background-size: 85px auto;
  }
  .support-menu__quick p:nth-child(1),
  .support-menu__quick p:nth-child(2) {
    margin-bottom: 40px;
  }
  /* 테블릿 본문4 support-inquiry */
  .support-inquiry h2 {
    margin: 0 35px 30px;
    font-size: 30px;
  }
  .support-inquiry__box li {
    padding: 30px 15px 30px 130px;
    background-size: 60px auto;
    background-position: left 35px center;
  }
  .support-inquiry__sub {
    margin: 0 0 10px;
    font-size: 18px;
  }
  .support-inquiry__inTxt {
    margin: 0 0 8px;
    font-size: 16px;
  }
}
/* 테블릿 마지막 */

/* pc support-page.html 미디어쿼리 */
@media (min-width: 1200px) {
  /* pc .support-banner */
  .support-banner {
    margin: 0 0 150px;
    padding: 45px;
  }
  .support-banner picture {
    margin: 0 0 30px;
  }
  .support-banner__subTxt,
  .support-banner__title {
    max-width: 1440px;
    margin: 0 auto 15px;
    padding: 0 35px;
  }
  .support-banner__title {
    font-size: 42px;
  }
  /* pc .support-search */
  .support-search__box h2 {
    margin: 0 0 50px;
    font-size: 40px;
  }
  .support-search__input {
    padding: 0 40px 0 0;
    width: 80%;
    max-width: 560px;
    height: 65px;
    border: 1px solid #ccc;
    border-radius: 300px;
    background-position: center right 40px;
  }
  .support-search__input input {
    padding: 0 40px;
    line-height: 65px;
    font-size: 17px;
  }
  .support-list {
    width: 70%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .support-list ul {
    width: 280px;
    margin: 0 auto;
    padding: 100px 0;
  }
  /* pc 본문3 .support-menu */
  .support-menu {
    position: relative;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto 100px;
    padding: 0 35px;
  }
  .support-menu__quick {
    max-width: 70%;
  }
  .support-menu__quick p {
    width: 90px;
    padding: 80px 0 0;
    font-size: 18px;
    background-position: center top;
    background-size: 65px auto;
  }
  .support-menu__quick p:nth-child(1),
  .support-menu__quick p:nth-child(2) {
    margin-bottom: 0;
  }

  .support-menu__quickRegister,
  .support-menu__quickCheck,
  .support-menu__quickProduct,
  .support-menu__quickSurvice {
    margin: 0 30px 0;
  }
  .support-menu__mySupport {
    display: block;
    width: 650px;
    margin: 0 auto 50px;
    padding: 40px 30px;
    border-radius: 4px;
    background-color: #f8f8f8;
  }
  .support-menu__mySupport h3 {
    margin: 0 0 15px;
    font-size: 32px;
    line-height: 1em;
    font-weight: 500;
  }
  .support-menu__mySub {
    margin: 0 0 25px;
    font-size: 15px;
    color: #444;
    line-height: 1.4em;
  }
  .support-menu__exmaple {
    margin: 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .support-menu__exmaple figure {
    width: 180px;
    margin: 0 20px 0 0;
  }
  .support-menu__exmaple p {
    font-size: 18px;
  }
  .support-menu__exmaple p strong {
    font-weight: 500;
    font-size: 20px;
  }
  .support-menu__myProduct form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 10px;
  }
  .support-menu__myProduct input {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    line-height: 40px;
    font-size: 17px;
  }
  .support-menu__myProduct input:nth-child(1) {
    width: 180px;
    margin: 0 10px 0 0;
    background-color: #fff;
  }
  .support-menu__myProduct input:nth-child(2) {
    width: 90px;
    margin: 0 10px 0 0;
    background-color: #efefef;
  }
  .support-menu__myProduct input:nth-child(3) {
    width: 300px;
    background-color: #efefef;
  }
  .support-menu__isDefficult {
    width: 100%;
    margin: 0 0 20px;
    text-align: right;
    text-decoration: underline;
  }
  .support-menu__myProductBtn {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 4px;
    background-color: var(--main-color-green);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
  }
  /* pc 본문4 support-inquiry */
  .support-inquiry {
    max-width: 1440px;

    margin: 0 auto 100px;
  }
  .support-inquiry h2 {
    margin: 0 0 50px;
    width: 100%;
    text-align: center;
    font-size: 40px;
  }
  .support-inquiry__box ul {
    display: flex;
    justify-content: space-between;
  }
  .support-inquiry__box li {
    width: calc(33.33% - 10px);
  }
  .support-inquiry__box li:nth-child(2) {
    background-color: #f8f8f8;
  }
}
